
img{
  height: 100px;
  width: 100px;
}
.food-selected{
  border: 1px solid blue;
}
.water-selected{
  border: 1px solid blue;
}
.flood-selected{
  border: 1px solid blue;
}
.small_pictures{
  height: 80px;
  width: 80px;
}
.medecin_name{
  display:none
}
.medecin_picture{
  border: 1px solid blue;
}
.medecin_hidden{
  visibility:visible
}
.toiletery_picture{
  border: 1px solid blue;
}
.Toiletery{
  display:none;
}